.products__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    grid-gap: 45px;
    width: 80%;
    max-width: 1200px;
    margin: 80px auto;
}

.products__element {
    border-radius: 10px;
    background: var(--main-calatog-bg);
    padding-bottom: 5px;
    transition:  1s all ease-in-out;
}
.products__element:hover {
    transform: scale(1.03);
}

.products__element--img {
    position: relative;
    width: 100%;
    object-fit: contain; 
}

.products__element--name {
    font-family: var(--main-fonts-hind);
    color: var(--color-main-text);
    font-size: 1.3em;
    font-weight: bold;
    line-height: 4.3vh;
    margin-bottom: 18.5pt;
    margin-left: 3.76pt;
}

.products__element--footer {
    display: flex;
    justify-content: flex-end;
    margin-right: 7.5pt;
    align-items: center;
}

.products__element--price {
    color: var(--color-main-text);
    font-weight: 400;
    padding-right: 7.5pt;
    font-size: 1.2rem;
}

.products__element--btn {
    color: var(--color-main-text);
    background: var(--main-btn-bg);
    outline: none;
    border: none;
    display: flex;
    cursor: pointer;
}
.products__element--btn img {
    width: 25px;
}
