.search input {
    max-width: 300px;
    width: 100%;
    background: var(--main-background);
    position: fixed;
    top: 8%;
    left: 60%;
    padding: 7px 15px;
    border-radius: 50px;
    border: 1px solid rgb(146, 146, 146);
    font-size: 1.2rem;
    font-family: var(--main-font);
    z-index: 1000;
    cursor: pointer;
}
.search input:hover {
    background: rgb(231, 231, 231);
    transition: 1s ease-in-out;
}
.search input:hover::placeholder {
    color: var(--color-black);
    transition: 1s ease-in-out;
}
.mmm img {
    position: fixed;
    top: 8%;
    left: 81%;
}

@media all and (max-width: 1024px) {
    .search input {
        top: 9%;
    }
    .mmm img {
        left: 90%;
    }

}

@media all and (max-width: 800px) {
    .mmm img {
        left: 88%;
        top: 11%;
    }
    .search input {
        top: 12%;
        left: 50%;
    }
}
